Repository zeshuaro/data_cache_manager: changes, and which Codecov flags are due for each by the changed paths.
All: data_cache_manager, firebase_db_cache

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  show_carryforward_flags: true

flags:
  data_cache_manager:
    paths:
      - data_cache_manager
    carryforward: true
  firebase_db_cache:
    paths:
      - firebase_db_cache
    carryforward: true

Update renovate config (#32)
  renovate.json
Due: none

Update renovate config
  renovate.json
Due: none

Update renovate config (#33)
  renovate.json
Due: none

Update dependency build_runner to v2
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

Update renovate config (#35)
  renovate.json
Due: none

[data_cache_manager] Update tests
  data_cache_manager/lib/src/default_data_cache_manager.dart
  data_cache_manager/lib/src/models/cached_data.dart
  data_cache_manager/lib/src/models/config.dart
  data_cache_manager/lib/src/models/database_data.dart
  data_cache_manager/lib/src/models/database_data.g.dart
  data_cache_manager/lib/src/models/exceptions.dart
  data_cache_manager/lib/src/models/query_params.dart
  data_cache_manager/pubspec.yaml
  data_cache_manager/test/data_cache_manager_test.dart
Due: data_cache_manager

[data_cache_manager] Update workflow
  .github/workflows/data_cache_manager.yml
Due: none

[data_cache_manager] Update tests (#36)
  .github/workflows/data_cache_manager.yml
  data_cache_manager/lib/src/default_data_cache_manager.dart
  data_cache_manager/lib/src/models/cached_data.dart
  data_cache_manager/lib/src/models/config.dart
  data_cache_manager/lib/src/models/database_data.dart
  data_cache_manager/lib/src/models/database_data.g.dart
  data_cache_manager/lib/src/models/exceptions.dart
  data_cache_manager/lib/src/models/query_params.dart
  data_cache_manager/pubspec.yaml
  data_cache_manager/test/data_cache_manager_test.dart
Due: data_cache_manager

Update to 1.0.0
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update to 1.0.0 (#37)
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Revert "Update to 1.0.0 (#37)"
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Revert "Update to 1.0.0 (#37)" (#38)
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

[firebase_db_cache] Update to 1.0.0
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

[firebase_db_cache] Update to 1.0.0 (#39)
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

chore: update gitignore
  .fvm/fvm_config.json
  .gitignore
  data_cache_manager/.gitignore
  data_cache_manager/.idea/libraries/Dart_SDK.xml
  data_cache_manager/.idea/modules.xml
  data_cache_manager/.idea/workspace.xml
  firebase_db_cache/.gitignore
  firebase_db_cache/.idea/libraries/Dart_SDK.xml
  firebase_db_cache/.idea/modules.xml
  firebase_db_cache/.idea/workspace.xml
Due: data_cache_manager, firebase_db_cache

chore: update gitignore (#42)
  .fvm/fvm_config.json
  .gitignore
  data_cache_manager/.gitignore
  data_cache_manager/.idea/libraries/Dart_SDK.xml
  data_cache_manager/.idea/modules.xml
  data_cache_manager/.idea/workspace.xml
  firebase_db_cache/.gitignore
  firebase_db_cache/.idea/libraries/Dart_SDK.xml
  firebase_db_cache/.idea/modules.xml
  firebase_db_cache/.idea/workspace.xml
Due: data_cache_manager, firebase_db_cache

chore: update renovate config
  renovate.json
Due: none

chore: update renovate config (#43)
  renovate.json
Due: none

[data_cache_manager] Update dependency json_annotation to <4.1.1
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

Update codecov/codecov-action action to v2
  .github/workflows/data_cache_manager.yml
  .github/workflows/firebase_db_cache.yml
Due: none

ci: update renovate config
  renovate.json
Due: none

ci: update renovate config (#45)
  renovate.json
Due: none

ci(deps): update codecov/codecov-action action to v2
  .github/workflows/data_cache_manager.yml
  .github/workflows/firebase_db_cache.yml
Due: none

[data_cache_manager] Update dependency json_serializable to v5
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

[firebase_db_cache] Update dependency firebase_database to v8
  firebase_db_cache/example/pubspec.yaml
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

ci: update renovate config (#49)
  renovate.json
Due: none

chore(data_cache_manager): update dependency json_serializable to v5
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

fix(firebase_db_cache): update dependency firebase_database to v8
  firebase_db_cache/example/pubspec.yaml
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

chore: bump firebase_db_cache to 1.1.0
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

chore: bump firebase_db_cache to 1.1.0 (#52)
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

chore: add gitignore in package folders
  data_cache_manager/.gitignore
  data_cache_manager/.idea/libraries/Dart_SDK.xml
  data_cache_manager/.idea/modules.xml
  data_cache_manager/.idea/workspace.xml
  firebase_db_cache/.gitignore
  firebase_db_cache/.idea/libraries/Dart_SDK.xml
  firebase_db_cache/.idea/modules.xml
  firebase_db_cache/.idea/workspace.xml
Due: data_cache_manager, firebase_db_cache

chore: add gitignore in package folders (#53)
  data_cache_manager/.gitignore
  data_cache_manager/.idea/libraries/Dart_SDK.xml
  data_cache_manager/.idea/modules.xml
  data_cache_manager/.idea/workspace.xml
  firebase_db_cache/.gitignore
  firebase_db_cache/.idea/libraries/Dart_SDK.xml
  firebase_db_cache/.idea/modules.xml
  firebase_db_cache/.idea/workspace.xml
Due: data_cache_manager, firebase_db_cache

fix(data_cache_manager): update dependency json_annotation to <4.3.1
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

chore(data_cache_manager): update dependency json_serializable to v6
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

chore(data_cache_manager): update json_annotation
  data_cache_manager/lib/src/models/database_data.g.dart
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

chore(data_cache_manager): bump version to 1.0.1
  data_cache_manager/CHANGELOG.md
  data_cache_manager/README.md
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

chore(data_cache_manager): bump version to 1.0.1 (#56)
  data_cache_manager/CHANGELOG.md
  data_cache_manager/README.md
  data_cache_manager/pubspec.yaml
Due: data_cache_manager
