Repository zeshuaro/data_cache_manager: changes, and which Codecov flags are due for each by the changed paths.
All: data_cache_manager, firebase_db_cache

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  show_carryforward_flags: true

flags:
  data_cache_manager:
    paths:
      - data_cache_manager
    carryforward: true
  firebase_db_cache:
    paths:
      - firebase_db_cache
    carryforward: true

Update firebase_db_cache to 0.0.1+1
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase_db_cache to 0.0.1+1 (#15)
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase database dependency
  firebase_db_cache/example/ios/Podfile
  firebase_db_cache/example/ios/Podfile.lock
  firebase_db_cache/example/pubspec.yaml
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase database dependency (#16)
  firebase_db_cache/example/ios/Podfile
  firebase_db_cache/example/ios/Podfile.lock
  firebase_db_cache/example/pubspec.yaml
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase_db_cache to 0.2.0
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase_db_cache to 0.2.0 (#17)
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase database dependency
  .gitignore
  firebase_db_cache/example/ios/Podfile.lock
  firebase_db_cache/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  firebase_db_cache/example/pubspec.yaml
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase database dependency (#18)
  .gitignore
  firebase_db_cache/example/ios/Podfile.lock
  firebase_db_cache/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  firebase_db_cache/example/pubspec.yaml
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase_db_cache to 0.3.0
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase_db_cache to 0.3.0 (#19)
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase database dependency
  firebase_db_cache/example/ios/Podfile.lock
  firebase_db_cache/example/pubspec.yaml
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase database dependency (#20)
  firebase_db_cache/example/ios/Podfile.lock
  firebase_db_cache/example/pubspec.yaml
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase_db_cache to 0.3.1
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase_db_cache to 0.3.1 (#21)
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Update firebase_db_cache workflow
  .github/workflows/firebase_db_cache.yml
Due: none

Update firebase_db_cache workflow (#22)
  .github/workflows/firebase_db_cache.yml
Due: none

Update readme badge
  firebase_db_cache/README.md
Due: firebase_db_cache

Update readme badge (#23)
  firebase_db_cache/README.md
Due: firebase_db_cache

[data_cache_manager] Migrate to null safety
  data_cache_manager/analysis_options.yaml
  data_cache_manager/lib/src/data_cache_manager.dart
  data_cache_manager/lib/src/data_store/data_store_sqflite.dart
  data_cache_manager/lib/src/data_store/data_store_stub.dart
  data_cache_manager/lib/src/memory_cache.dart
  data_cache_manager/lib/src/models/cached_data.dart
  data_cache_manager/lib/src/models/cached_data.g.dart
  data_cache_manager/lib/src/models/config.dart
  data_cache_manager/lib/src/models/database_data.dart
  data_cache_manager/lib/src/models/database_data.g.dart
  data_cache_manager/pubspec.yaml
  data_cache_manager/test/data_cache_manager_test.dart
  data_cache_manager/test/data_store_sqflite_test.dart
Due: data_cache_manager

Fix warnings
  data_cache_manager/lib/src/data_store/data_store_sqflite.dart
  data_cache_manager/test/data_store_sqflite_test.dart
Due: data_cache_manager

Update ntp dependency
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

[data_cache_manager] Migrate to null safety (#24)
  data_cache_manager/analysis_options.yaml
  data_cache_manager/lib/src/data_cache_manager.dart
  data_cache_manager/lib/src/data_store/data_store_sqflite.dart
  data_cache_manager/lib/src/data_store/data_store_stub.dart
  data_cache_manager/lib/src/memory_cache.dart
  data_cache_manager/lib/src/models/cached_data.dart
  data_cache_manager/lib/src/models/cached_data.g.dart
  data_cache_manager/lib/src/models/config.dart
  data_cache_manager/lib/src/models/database_data.dart
  data_cache_manager/lib/src/models/database_data.g.dart
  data_cache_manager/pubspec.yaml
  data_cache_manager/test/data_cache_manager_test.dart
  data_cache_manager/test/data_store_sqflite_test.dart
Due: data_cache_manager

[data_cache_manager] Update to 1.0.0
  data_cache_manager/CHANGELOG.md
  data_cache_manager/README.md
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

Fix changelog typo
  data_cache_manager/CHANGELOG.md
Due: data_cache_manager

[data_cache_manager] Update to 1.0.0 (#25)
  data_cache_manager/CHANGELOG.md
  data_cache_manager/README.md
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

[data_cache_manager] Fix example dependencies
  data_cache_manager/example/pubspec.yaml
Due: data_cache_manager

[data_cache_manager] Fix example dependencies (#26)
  data_cache_manager/example/pubspec.yaml
Due: data_cache_manager

[data_cache_manager] Update to 1.0.0+1
  data_cache_manager/CHANGELOG.md
  data_cache_manager/README.md
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

[data_cache_manager] Update changelog
  data_cache_manager/CHANGELOG.md
Due: data_cache_manager

[data_cache_manager] Update to 1.0.0+1 (#27)
  data_cache_manager/CHANGELOG.md
  data_cache_manager/README.md
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

Update workflows config
  .github/workflows/data_cache_manager.yml
  .github/workflows/firebase_db_cache.yml
Due: none

Update workflows config (#29)
  .github/workflows/data_cache_manager.yml
  .github/workflows/firebase_db_cache.yml
Due: none

[firebase_db_cache] Migrate to null safety
  .gitignore
  firebase_db_cache/example/lib/main.dart
  firebase_db_cache/example/pubspec.yaml
  firebase_db_cache/lib/src/firebase_db_cache.dart
  firebase_db_cache/pubspec.yaml
  firebase_db_cache/test/firebase_db_cache_test.dart
Due: firebase_db_cache

[firebase_db_cache] Fix tests step
  .github/workflows/firebase_db_cache.yml
Due: none

[firebase_db_cache] Migrate to null safety (#30)
  .github/workflows/firebase_db_cache.yml
  .gitignore
  firebase_db_cache/example/lib/main.dart
  firebase_db_cache/example/pubspec.yaml
  firebase_db_cache/lib/src/firebase_db_cache.dart
  firebase_db_cache/pubspec.yaml
  firebase_db_cache/test/firebase_db_cache_test.dart
Due: firebase_db_cache

[firebase_db_cache] Update to 0.4.0-nullsafety.0
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

[firebase_db_cache] Update to 0.4.0-nullsafety.0 (#31)
  firebase_db_cache/CHANGELOG.md
  firebase_db_cache/README.md
  firebase_db_cache/pubspec.yaml
Due: firebase_db_cache

Add renovate.json
  renovate.json
Due: none

Update renovate config
  renovate.json
Due: none
