Repository zeshuaro/data_cache_manager: changes, and which Codecov flags are due for each by the changed paths.
All: data_cache_manager, firebase_db_cache

docs: update copyright to 2022
  LICENSE
  data_cache_manager/LICENSE
  firebase_db_cache/LICENSE
Due: data_cache_manager, firebase_db_cache

docs: update copyright to 2022 (#58)
  LICENSE
  data_cache_manager/LICENSE
  firebase_db_cache/LICENSE
Due: data_cache_manager, firebase_db_cache

chore(data_cache_manager): update dependency copy_with_extension_gen to v4
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

fix(data_cache_manager): update dependency copy_with_extension to v4
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

chore: remove upper version constraint of dependencies
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

chore: remove upper version constraint of dependencies (#62)
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

chore: update data_cache_manager to 1.0.2
  data_cache_manager/CHANGELOG.md
  data_cache_manager/README.md
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

chore: update data_cache_manager to 1.0.2 (#63)
  data_cache_manager/CHANGELOG.md
  data_cache_manager/README.md
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

chore: update data_cache_manager to 1.1.0
  data_cache_manager/CHANGELOG.md
  data_cache_manager/README.md
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

chore: update data_cache_manager to 1.1.0 (#64)
  data_cache_manager/CHANGELOG.md
  data_cache_manager/README.md
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

chore: update data_cache_manager to 1.2.0
  data_cache_manager/CHANGELOG.md
  data_cache_manager/README.md
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

chore: update data_cache_manager to 1.2.0 (#65)
  data_cache_manager/CHANGELOG.md
  data_cache_manager/README.md
  data_cache_manager/pubspec.yaml
Due: data_cache_manager

fix: update to android embedding v2
  data_cache_manager/example/android/app/src/main/AndroidManifest.xml
  firebase_db_cache/example/android/app/src/main/AndroidManifest.xml
Due: data_cache_manager, firebase_db_cache

fix: update to android embedding v2 (#66)
  data_cache_manager/example/android/app/src/main/AndroidManifest.xml
  firebase_db_cache/example/android/app/src/main/AndroidManifest.xml
Due: data_cache_manager, firebase_db_cache

chore(deps): update github actions dependencies
  .github/workflows/data_cache_manager.yml
  .github/workflows/firebase_db_cache.yml
Due: none

Path conditions:
  data_cache_manager: any of: data_cache_manager
  firebase_db_cache: any of: firebase_db_cache
